@model BlogDetailsViewModel
@using ObligEnBlog.Models.Entities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Active)
        </dt>
        @if (Model.Blog.Active)
        {
            <dd class="col-sm-10">
                Blog is Active
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Blog is inactive
            </dd>
        }
    </dl>
</div>
@if (@Model.Blog.Active)
{
    <form asp-controller="BlogPosts" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BlogPost.BlogParentId" value="@Model.Blog.BlogId" />
        <div class="form-group">
            <label asp-for="BlogPost.Title" class="control-label"></label>
            <input asp-for="BlogPost.Title" class="form-control" />
            <span asp-validation-for="BlogPost.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogPost.Description" class="control-label"></label>
            <input asp-for="BlogPost.Description" class="form-control" />
            <span asp-validation-for="BlogPost.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogPost.Content" class="control-label"></label>
            <input asp-for="BlogPost.Content" class="form-control" />
            <span asp-validation-for="BlogPost.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <div>The blog is deactivated</div>
}
@if (Model.BlogPosts.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPost.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPost.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPost.Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BlogPosts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @if (Model.Blog.Active)
                        {
                            <span><a asp-controller="BlogPosts" asp-action="Edit" asp-route-id="@item.BlogPostId">Edit</a> |</span>
                        }
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.BlogPostId">Details</a>
                        @if (Model.Blog.Active)
                        {
                            <span> | <a asp-controller = "BlogPosts" asp-action = "Delete" asp-route-id = "@item.BlogPostId"> Delete </a ></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h3>No Blogposts found.</h3>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Blog.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
