@model BlogPostDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if (!Model.Blog.Active)
{
    <h2>Blog has been disabled</h2>
}
<div>
    <h4>Blog Posts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPost.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogPost.Content)
        </dd>
    </dl>
</div>

@if(Model.Blog.Active){
<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Comments" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.BlogPostParentId" value="@Model.BlogPost.BlogPostId" />
            <div class="form-group">
                <label asp-for="Comment.CommentText" class="control-label"></label>
                <input asp-for="Comment.CommentText" class="form-control" />
                <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
}

@if (Model.Comments.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.CommentText)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentText)
                    </td>
                    @if (Model.Blog.Active)
                    {
                    <td>
                        
                            <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                            <a asp-controller = "Comments" asp-action = "Details" asp-route-id = "@item.CommentId"> Details </a > |
                            <a asp-controller = "Comments" asp-action = "Delete" asp-route-id = "@item.CommentId" > Delete </a >
                       </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h3>No Blogposts found.</h3>
    </div>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BlogPost.BlogPostId">Edit</a> |
    <a asp-controller="Blogs" asp-action="Details" asp-route-id="@Model?.BlogPost.BlogParentId">Back to Blog</a>
</div>
